<% include ./header %>

    <div class="container">

      <h4>Tracks</h4>
        <div class="row">

        <% posts.forEach((post) => { %>

            <div class="col s12 m6 l4">
              <div class="card small">
                <!-- <p hidden><%= post.type %></p> -->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="<%= post.image_url %>" alt="<%= post.title %>">
                </div>
                <div class="card-content">
                  <span class=" activator grey-text text-darken-4"><strong><%= post.title %></strong><i class="material-icons right">more_vert</i></span>
                  <p><%= post.artist %></p>
                  <a href="<%=post.preview_url%>" target='_blank'>Preview</a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%= post.title %><i class="material-icons right">close</i></span>
                  <p><%= post.artist %></p>
                  <a href="<%= post.track_url %>" target='_blank'><p>Link to Track</p></a>
                  <div class="chip">
                    <img src="<%= post.profile_url %>" alt="<%= post.displayName %>">
                    <%= post.displayName %>
                  </div>
                  <p>Comment:</p>
                  <p><%= post.comment %></p>
                </div>
              </div>
            </div>

        <% }); %>

      </div>

    </div>

  </body>

<% include ./footer %>
