<% include ./header %>

    <div class="container">

      <h4>Library</h4>

        <% posts.forEach((post) => { %>

          <img src="<%= post.image_url %>" alt="<%= post.title %>">
          <p><%= post.type %></p>
          <p><%= post.title %></p>
          <p><%= post.artist %></p>
          <p><%= post.language %></p>
          <p><%= post.comment %></p>

        <% }); %>

    </div>

  </body>

<% include ./footer %>
